.tl_tbox_nogap{
	padding-bottom: 0;
}

.filecreditpages{
	height: 600px;
	overflow: auto;
	border: 1px solid #aaa;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 5px;
	padding: 4px;
}

#tl_filecredit_sync{
	padding-top: 21px;
}

#tl_filecredit_sync .sub_headline,
#tl_filecredit_sync .sub_headline_index{
	padding: 7px 0;
}

#tl_filecredit_sync .sub_headline_index{
	padding-left: 40px;
	margin-left: 0;
}